@model BikeStore.Models.StockViewModel
<partial name="~/Views/Shared/_ValidationScript.cshtml" />

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تعديل مستودع</h5>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@

            </div>
            <form method="post" enctype="multipart/form-data" asp-controller="Stock" asp-action="SaveEdit">
                <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label>المنتج</label>
                        <div class="dropdown ">
                            <select  disabled  class="form-select" asp-for="ProductId" asp-items="@(new SelectList(@ViewBag.ProductList,"ProductId","ProductName"))">
                                <option value="0">--اختر منتجاً--</option>
                            </select>

                        </div>
                            <input type="hidden" asp-for="ProductId" />
                        <div class="validation-Layout">
                            <span class="text-danger" role="alert" asp-validation-for="ProductId"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <label>المتجر</label>
                        <div class="dropdown">
                            <select disabled class="form-select" asp-for="StoreId" asp-items="@(new SelectList(@ViewBag.StoreList,"StoreId","StoreName"))">
                                <option value="0">--اختر متجراً--</option>
                            </select>

                        </div>
                        <input type="hidden"  asp-for="StoreId" />
                        <div class="validation-Layout">
                            <span class="text-danger" role="alert" asp-validation-for="StoreId"></span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                            <div class="col">
                                <label>الكمية</label>
                                <input class="form-control" asp-for="Quantity" maxlength="7" type="number" placeholder="Quantity" aria-label="Quantity">
                                <div class="validation-Layout">
                                    <span class="text-danger" role="alert" asp-validation-for="Quantity"></span>
                                </div>
                            </div>
                        </div>

                <div class="modal-footer" tabindex="1">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                    <input name="submit" type="submit" class="btn btn-primary" data-save="modal" value="حفظ" />

                </div>
                </div>
            </form>

        </div>
    </div>
</div>


